@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #cd48d7, #ff46a8, #ff687e, #ff9263, #ffba61, #fabf62, #f6c464, #f1c967, #f8b159, #fd9753, #fe7c56, #fb5f5f);
    background-size: 800px 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    border: 2px solid #cd48d72a; 
    text-align: center;
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.377); 
    border-radius: 20px;
    box-shadow: 2px 2px 4px black;
}

.login input::placeholder {
    display: block;
    margin: 3px auto;
    color: white;
}

input {
    text-align: center;
    background-color: #cd48d717;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 9px 0px; 
    margin: 5px;
    width: 100%; 
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.535);
}

button {
    background-color: #fabf62;
    margin: 10px;
    border-radius: 20px;
    padding: 10px; 
    font-family: 'Pixelify Sans', sans-serif;
}




.list-items{
text-decoration: none;
list-style: none;
border-radius: 10px;


}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: left;
}


.menu-items {
    padding: 8px;
    margin-bottom: 5px;
    background-color:#fb5f5f42;
    border: 1px solid #f6c464;
    text-align: center;
    border-radius: 20px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.411);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.menu-items:hover {
text-decoration: underline;
cursor: pointer;
background-color: #cd48d779;

}

.btn-start:hover{
cursor: pointer;

}

